@{
    ViewData["Title"] = "Bestsellers";
}

@model List<MusicalLife.Models.Track>
    <h3>Bestsellers tracks:</h3>
    <div class="row" style="width: 100%; text-align:center; padding: 5%;">
        <div class="card-deck genreHeader">
            @{
            foreach (var item in Model)
            {
            <div class="card cardSizeBestsellers" style="margin: 10px;">
                <div class="card-header">IMAGE</div>
                <div class="card-body">
                    <p>Performer: @item.Performer</p>
                    <p>Album: @item.Album</p>
                    <p>Release Date: @item.ReleaseDate.Day/@item.ReleaseDate.Month/@item.ReleaseDate.Year</p>
                    <p>Genre: @item.Genre</p>
                </div>
                <div class="card-footer" style="text-align:center">
                    <row>
                        <a class="btn btn-primary" asp-controller="home" asp-action="Details" asp-route-trackID="@item.TrackID">Details</a>
                        <button class="btn btn-primary" style="margin-left: 10px; margin-right:10px;">Add to cart</button>
                    </row>
                </div>
            </div>
            }
            }
        </div>
    </div>
    <br style="margin-bottom:168px;" />
