
@{
    ViewData["Title"] = "Index";
}

@model MusicalLife.Models.Track

<h3>@Model.AlbumID</h3>
<h3>@Model.Album</h3>
<h3>@Model.Genre</h3>
<h3>@Model.Performer</h3>
<h3>@Model.ReleaseDate</h3>
<h3>@Model.TrackID</h3>